body{
    background-image: url(https://img5.thuthuatphanmem.vn/uploads/2021/08/25/background-3d-4k_085529380.jpg);
    background-size: 100%;
}

.bg-img{
    background-image: url(https://img5.thuthuatphanmem.vn/uploads/2021/08/25/background-3d-4k_085529380.jpg);
    background-size: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
}
#nav li{
    display: block;
    background-color: #cbd5e1;
    width: 250px;
    border-bottom: solid 1px black;
    margin: 5px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding-left: 20px;
}
#nav li:hover{
    background-color: bisque;
    cursor: pointer;
}

.clear {
    background-color: rgb(254 215 170);
    position: fixed;
    padding: 0 40px;
    top: 400px;
}

.clear:hover{
    background-color: bisque;
}
